# python stuff 
.pytest_cache/
.venv
src/sols/__pycache__/
src/sols/*.ipynb
src/tests/__pycache__/

tests/__pycache__/

# sphinx stuff 
/docs/_build/
/docs/_templates/
/docs/_autosummary/
/docs/_cache/
/docs/_modules/
/docs/_sources/
/docs/_output/
/docs/doctrees/
/docs/html/
/docs/latex/
/docs/epub/
/docs/text/
/docs/man/
/docs/texinfo/
/docs/_downloads/
/docs/_images/
/docs/.buildinfo
/docs/.doctrees/