/* Styles for blockquote callouts */
blockquote {
    border-left: 5px solid lightgray; /* Blue border for note */
}

/* Common styles for callouts */
blockquote {
    padding: 10px 20px 10px 20px;
    margin: 10px 0;
    border-radius: 3px;
}

/* Style for the heading of the callout */
blockquote p {
    margin-top: 0;
    margin-bottom: 0;
}

li > p {
    margin-top: 0;
    margin-bottom: 0;
}

h2 {
    margin-top: 15px !important; 
    margin-bottom: 10px;
}

dl {
    margin-bottom: 2em;
}